*{
    margin: 0;
    padding:0;
   
}
#main{
    background-color: aqua;
    margin: 50px;
}
#main > h2 {
    background-color: aquamarine;
    text-align: center;
}   
    
.input{
    justify-content: flex-end;
}